<% @items.each do |item| %>
<div class="card-outer">
  <div class="card">
    <div class="card-header">
        <h5 class="card-title"><%= item.name %></h5>
    </div>
    <div class="card-body">
      <h6 class="card-subtitle"><%= item.course %>, $<%= item.price %></h6>
      <div class="desc-container">
        <p class="card-text"><%= item.desc %></p>
      </div>
      <div class="card-footer">
          <a class="card-link" href="/items/<%= item.id %>/edit">EDIT</a>
          <form action="/items/<%= item.id %>" method="POST">
            <input type="hidden" name="_method" value="DELETE" />
            <button class="card-link">DELETE</button>
      </div>
    </div>
  </div>
</div>
<% end %>
